/*
========================================================================================
    Base Config — Resource limits & process defaults
========================================================================================
*/

process {
    cpus   = { Math.min( 1 * task.attempt, (params.max_cpus ?: 8) as int ) }
    memory = { 4.GB * task.attempt }
    time   = { 2.h * task.attempt }

    errorStrategy = 'finish'
    maxRetries    = 2

    // Process specific resource allocation based on labels
    withLabel: process_low {
        cpus   = { Math.min( 1 * task.attempt, (params.max_cpus ?: 8) as int ) }
        memory = { 2.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }
    withLabel: process_medium {
        cpus   = { Math.min( 4 * task.attempt, (params.max_cpus ?: 8) as int ) }
        memory = { 8.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_high {
        cpus   = { Math.min( 8 * task.attempt, (params.max_cpus ?: 8) as int ) }
        memory = { 16.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
    withLabel: process_heavy_memory {
        cpus   = { Math.min( 4 * task.attempt, (params.max_cpus ?: 8) as int ) }
        memory = { 32.GB * task.attempt }
        time   = { 6.h * task.attempt }
    }
}
