/*
========================================================================================
    Default Parameter Definitions
========================================================================================
*/

params {
    // Data Download Accessions & Input Directives
    geo_eur_accession     = "GSE55763"
    geo_afr_accession     = "GSE210255"
    geo_magenta_accession = "GSE338167"
    outdir                = "./results"

    // Input file paths (null by default unless passed)
    eur_beta              = null
    eur_meta              = null
    afr_beta              = null
    afr_meta              = null
    magenta_beta          = null
    magenta_meta          = null

    // Filtering & Split Options
    age_min               = 19.0
    age_max               = 78.0
    train_split_ratio     = 0.80

    // Training Hyperparameters
    alpha                 = 0.5
    n_bootstrap           = 50
    fixed_lambda          = 0.010474566337054866
    cv_folds              = 10

    // meQTL Filter Assets
    meqtl_cosmo           = "${projectDir}/assets/meqtl_lists/cosmo_meqtls.csv"
    meqtl_genoa           = "${projectDir}/assets/meqtl_lists/genoa_meqtls.csv"
    meqtl_epigen          = "${projectDir}/assets/meqtl_lists/epigen_meqtls.csv"

    // PRS Weights Asset
    prs_weights           = "${projectDir}/assets/prs_weights/PGS003958_hmPOS_GRCh37.txt"

    // Resource ceilings
    max_memory            = '32.GB'
    max_cpus              = 8
    max_time              = '24.h'

    // Container registry
    container_registry    = 'docker.io/sgonzalez'

    // Test run defaults
    is_test_run           = false
    test_data_dir         = "${projectDir}/tests/test_data"
}
